{% extends 'base.html.twig' %}
{% form_theme formBatiment 'bootstrap_4_layout.html.twig' %}

{% block title %}Enregistrement Chambre{% endblock %}

{% block body %}

     <nav class="navbar navbar-expand-lg navbar-light" id="menu">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
            <a class="nav-link mx-5" href="{{path('chambre_create')}}">Enrégistrer Chambre</a>
            </li>
            <li class="nav-item">
            <a class="nav-link mx-5" href="{{path('chambre_index')}} ">Liste Chambre</a>
            </li>
            <li class="nav-item">
            <a class="nav-link mx-5" href="{{path('batiment_create')}} ">Enrégistrer Batiment</a>
            </li>
        </ul>
        </div>
    </nav>
    {% if message is not empty %}
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Well done!</h4>
            <p>Enrégistrement Réussi.</p>
            <hr>
        </div>
    {% endif %}

{{ form_start(formBatiment) }}
{{ form_widget(formBatiment) }}
<input type="submit" value="Enregistrer" class="btn btn-primary">
{{ form_end(formBatiment) }}

{% endblock %}